body {
	margin: 0;
	margin-top: 0;
	font-family: monospace;
}

html {
	scroll-behavior: smooth;
}


header {
	display: flex;
	position:sticky;
	top: 0;
	left:0;
	right: 0;
	height: 80px;
	line-height: 80px;
	background-color: #1F2833;
}

header * {
	display: inline;
	height: 80px;
}

header ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: 1F2833;
	position: sticky;
}


header li  {
	display:inline;
	float:left;
	background-color: #1F2833;
}

a {
	display: block;
	color: #66FCF1;
	padding: 0 10px;
	margin-left = auto;
	margin-right = auto;
}

p { 
	font-size: 20px;
	font-color: black;
	
}

li a:hover {
	background-color: #C5C6C7;
}

.active {
	background-color: #45A29E;
	float: right;
}

section {
	height: 100vh;
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 70px;
	background-color: MintCream;
	
	background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

h1 {
	color: grey;
	font-size: 40px;
}
h2 {
	color: grey;
	font-size: 30px;
}


#about {
	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/about_me1.jpg');
	
}

#chicken {
	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/cooking.png');
}

#movies {
	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/movies1.jpg');
	
}

#music {
	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/music.jpg');
}

#games {
	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/games.jpg');
}

.scroll{
	margin: auto;
}

footer {
	display: block;
	padding: 20px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
